pyautogui~=0.9.54
SpeechRecognition
openai~=1.13.3
clipboard~=0.0.4
deepgram-sdk
pypresence==4.3.0
configparser~=6.0.1
keyboard
pyaudio~=0.2.14
pocketsphinx
pathlib~=1.0.1
watchdog~=4.0.0
wave~=0.0.2
whisperx
torchvision
torchaudio
requests~=2.31.0